@import './normalize.css';
@import './font/iconfont.css';

:root {
    --color-text: #666666;
    --color-high-text: #e93b3d;
    --color-tint: #e93b3d;
    --color-background: #FFFFFF;
    --font-size: 14px;
    --line-height: 1.5;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 禁止用户选择文件或图片 */
    user-select: none;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}
